table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border: #000 solid 0px;
}

table td {
    border: 1px solid #36f8ff;
    height: 25px;
    text-align: center;
    border-left: 0px;
}

.t_r_content {
    width: 100%;
    height: 220px;
    overflow: auto;
}

.t_r_content td {
    color: #fff;
}

.t_r {
    width: 100%;
    height: auto;
    float: left;
    border: 1px solid #36f8ff;
}

.t_r table {
    width: 2000px;
}

.bordertop {
    border-top: 0px;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.num-table-title{
    height: 27px;
    line-height: 27px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-right: 1px solid #36f8ff;
    box-sizing: border-box;
}
#zify canvas{
    height: 209px !important;
    top: 32px !important;
}